html, body {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.pcar{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url("images/flecha2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	left: -100px;
	bottom: -100px;
}

.asme{
	background-image: url("images/flecha.png");
	z-index: 10;
}

.disparo_df{
	position: absolute;
	left: 5px;
	top: 0%;
	width: 20px;
	height: 20px;
	background-image: url("images/ok.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}