* {
	margin: 0;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

html, body {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%
}

pre {
	font-size: 8px;
}

iframe{
	border: 0px;
	overflow: hidden;
}

.ini_load{
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2000;
}


.bd_usuario{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(left, #000000 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #000000 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #000000 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.bd_usuario .content{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-size: 40% auto;
	background-position: 30px center;
}

#area_usuario{
	position: absolute;
	text-align: center;
	width: 50%;
	height: 100%;
	top: 0px;
	right: 0px;
	padding: 0px;
	display: flex;
  	flex-direction: column;
  	padding: 0px 20px;
}

#area_usuario input{
	text-align: center;
	background-color: white;
	border: none;
	font-size: 40px;
	font-weight: 300;
	color: black;
	padding: 20px;
	display: block;
	width: 100%;
	text-transform: uppercase;
}

#area_usuario button{
	text-align: center;
	background-color: #162028;
	border: none;
	font-size: 40px;
	font-weight: 400;
	color: white;
	padding: 20px;
	display: block;
	width: 100%;
	text-transform: uppercase;
	margin: 20px 0px;
}

.loader{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
	height: 100%;
	background-image: url("images/load.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 200px auto;
}


canvas {
	width: 100%;
	height: 100%;
	cursor: crosshair;
}

#logo_game{
	position: absolute;
	width: 200px;
	height: 100px;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	z-index: 10;
}

#vel_in {
	position: absolute;
	top: 20px;
	left: 20px;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	height: 100px;
	width: 250px;
	z-index: 2;
	overflow: auto;
	font-size: 10px;
}

#area_game {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#if_control {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	border: 0px;
	z-index: 10;
	border: 1px solid #333;
}

#energia {
	width: 200px;
	height: 50px;
	position: absolute;
	bottom: 225px;
	left: 20px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	font-size: 28px;
	border: 1px solid #333;
	border-radius: 4px;
	color: #FFF;
	padding: 8px;
	font-weight: 100;
	font-style: normal;
	text-shadow: 0 0 5px #000000;
	-webkit-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
}

#poderes {
	width: 100px;
	height: 200px;
	position: absolute;
	bottom: 20px;
	left: 225px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
	padding: 10px;
	font-weight: 100;
	font-style: normal;
	font-size: 28px;
	border: 1px solid #333;
	border-radius: 4px;
	overflow: hidden;
}

#poderes button{
	display: block;
	width: 100%;
	height: 50px;
	background-color: transparent;
	border: none;
	margin: 7px 0px;
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position: center center;
}

.btn_disparo{
	background-image: url("images/btn/disparo.fw.png");
}

.btn_defensa{
	background-image: url("images/btn/defensa.fw.png");
}

.btn_impulso{
	background-image: url("images/btn/impulso.fw.png");
}

#resultados {
	width: 255px;
	min-height: 50px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
	padding: 20px;
	font-weight: 100;
	font-style: normal;
	font-size: 28px;
	border: 1px solid #333;
	border-radius: 4px;
}

.registro_res {
	height: 24px;
}

.registro_sel {
	height: 28px !important;
}

.registro_res h2, .registro_res h3 {
	display: block;
	width: 90px;
	font-size: 12px;
	color: white;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-transform: uppercase;
}

.registro_res h3 {
	width: 60px;
	text-align: right;
	float: right;
}

.registro_sel > *{
	color: #FFFF00 !important;
	font-size: 14px !important;
}